In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("Table_13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_and_Agency_2018.xls")
df.head(25)

,Table 13,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Hate Crime Incidents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,per Bias Motivation and Quarter\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by State, Federal1, and Agency, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,Agency type,Agency name,Number of incidents per bias motivation,NaN,NaN,NaN,NaN,NaN,Number of incidents per quarter,NaN,NaN,NaN,Population2
4,NaN,NaN,NaN,Race/\nEthnicity/\nAncestry,Religion,Sexual\norientation,Disability,Gender,Gender\nidentity,1st\nquarter,2nd\nquarter,3rd\nquarter,4th\nquarter,NaN
5,Alaska,Total,NaN,4,2,0,1,0,0,NaN,NaN,NaN,NaN,NaN
6,NaN,Cities,NaN,4,2,0,1,0,0,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Anchorage,1,0,0,0,0,0,0,0,1,0,291992
8,NaN,NaN,Fairbanks,2,0,0,1,0,0,1,1,1,0,31635
9,NaN,NaN,Juneau,0,2,0,0,0,0,0,0,2,0,31922
10,NaN,NaN,Kotzebue,1,0,0,0,0,0,0,1,0,0,3273
11,Arizona,Total,NaN,95,34,37,2,2,3,NaN,NaN,NaN,NaN,NaN
12,NaN,Cities,NaN,93,33,37,2,2,3,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,Avondale,1,0,0,0,0,0,NaN,1,0,0,85204
14,NaN,NaN,Coolidge,2,0,0,0,0,0,0,0,0,2,12815
15,NaN,NaN,Flagstaff,1,0,1,0,0,0,0,2,0,0,72852
16,NaN,NaN,Gilbert,1,0,0,0,0,0,0,0,1,0,247463
17,NaN,NaN,Glendale,7,0,1,0,0,0,3,1,1,3,249799
18,NaN,NaN,Maricopa,1,0,0,0,0,0,0,1,0,0,48660
19,NaN,NaN,Mesa,2,0,1,0,0,0,2,1,0,0,504873
20,NaN,NaN,Page,2,0,1,0,0,0,1,1,1,0,7576
21,NaN,NaN,Peoria,1,0,0,0,0,0,0,1,0,0,170177
22,NaN,NaN,Phoenix3,59,24,25,1,1,2,35,26,18,27,1653080
23,NaN,NaN,Prescott,1,0,0,0,0,0,1,0,0,0,43172
24,NaN,NaN,Scottsdale,2,2,1,0,0,0,1,1,1,2,254961